.box_data {
  cursor: pointer;
  border-radius: 30px;
  padding: 30px;
  margin: 0 15px 30px;
  transition: .3s;
  background-color: rgb(40, 40, 40);
  box-shadow: 0 4px 5px 0 rgb(20, 20, 20)
}

.box_total:hover {
  box-shadow: 0 0 3px 2px #f0f358
}

.box_secure:hover {
  box-shadow: 0 0 3px 2px #72ee62
}

.box_death:hover {
  box-shadow: 0 0 3px 2px #ee6262
}

.box_title {
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1em;
  margin: 0 0 15px 0;
}

.box_title_total {
  color: #f0f358;
}

.box_title_secure {
  color: #72ee62;
}

.box_title_death {
  color: #ee6262;
}

.big_number {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1em;
  margin: 0 0 15px 0;
}

.small_number {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1em;
  color: white;
  letter-spacing: 2px;
}

.number_total {
  color: rgb(40, 40, 40);
  background-color: #f0f358;
  border-radius: 10px;
  padding: 10px;
}

.number_secure {
  color: rgb(40, 40, 40);
  background-color: #72ee62;
  border-radius: 10px;
  padding: 10px;
}

.number_death {
  color: rgb(40, 40, 40);
  background-color: #ee6262;
  border-radius: 10px;
  padding: 10px;
}