body {
  background-color: rgb(25, 25, 25);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
}

.container {
  padding-top: 60px;
  min-height: 100vh;
}