.container {
  padding-top: 60px;
  min-height: 100vh;
}

.title-home {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1em;
  color: #fff;
}

.mb-60 {
  margin: 0 0 60px 0;
}

body {
  background-color: rgb(25, 25, 25);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
}